@font-face {
  font-family: "Hahmlet-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(236, 238, 240);
  overflow: hidden;
}
body .start {
  opacity: 0;
}
body .end {
  opacity: 1;
  transition: opacity 0.5s;
}
body .main-container {
  display: flex;
  background-image: linear-gradient(to right, rgba(2, 2, 2, 0.696), rgba(36, 36, 55, 0.356)), url("../img/x-main/water-main.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
body .item-container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
}
body .item-container .filter-box {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgb(242, 238, 238);
  align-items: end;
  padding-bottom: 10px;
}
body .item-container .filter-box span {
  font-size: 15px;
  height: 30px;
  padding: 5px 5px;
  margin-left: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
body .item-container .filter-box input {
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 13px;
  height: 30px;
  margin-left: 5px;
  width: 60%;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(242, 238, 238, 0.676);
  padding: 5px 10px 0px 10px;
}
body .item-container .filter-box .find-icon {
  display: flex;
  margin: 0px 5px 4px 5px !important;
}
body .item-container .filter-box button {
  font-size: 13px;
  background-color: whitesmoke;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
  height: 30px;
  padding: auto 5px;
  margin-right: 10px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
body .item-container .item-list {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  width: 100%;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto !important;
  margin: 0px auto 10px auto;
  padding-left: 50px;
}
body .item-container .item-list .item-card {
  text-align: left;
  margin-top: 7px;
  cursor: pointer;
}
body .item-container .item-list .item-card .card-title {
  display: block;
  width: 220px !important;
  overflow: hidden;
  margin: 10px 0px 0px 0px;
}
body .item-container .item-list .item-card .card-title span {
  font-family: Hahmlet-Regular;
  font-size: 20px;
}
body .item-container .item-list .item-card .card-row2 {
  display: inline;
  font-family: GangwonEdu_OTFBoldA;
  margin: 5px 0px;
}
body .item-container .item-list .item-card .card-row3 {
  display: flex;
  width: 220px;
  height: 30px;
  margin: 0px 0px 30px 0px;
  overflow: hidden;
}
body .item-container .item-list .item-card .card-row3 span {
  font-family: GangwonEdu_OTFBoldA;
}
body .mine-container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: inline-flex;
  margin: 0px 5px 0 0px;
  width: 100%;
  height: 100vh;
}
body .mine-container .container-left {
  display: flex;
  width: 40%;
  background-image: linear-gradient(to right, rgba(50, 50, 50, 0.447), rgba(33, 33, 41, 0.454)), url("../img/x-main/water-half.jpg");
  background-repeat: no-repeat;
  background-size: 100% 95%;
}
body .mine-container .container-right {
  width: 60%;
  height: 90vh;
}
body .mine-container .container-right .filter-box {
  display: flex;
  height: 50px;
  background-color: rgb(242, 238, 238);
  align-items: end;
  padding-bottom: 10px;
}
body .mine-container .container-right .filter-box .title {
  min-width: -moz-max-content;
  min-width: max-content;
  width: 180px;
  display: inline-flex;
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px 0 15px;
}
body .mine-container .container-right .filter-box input {
  font-family: "GangwonEdu_OTFBoldA";
  background-color: whitesmoke;
  font-size: 13px;
  height: 30px;
  margin-left: 5px;
  width: 45%;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-top: 8px;
}
body .mine-container .container-right .filter-box button {
  background-color: whitesmoke;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  height: 30px;
  padding: auto 5px;
  margin-left: 10px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
body .mine-container .container-right .filter-box .find-icon {
  display: flex;
  margin: 0px 5px 4px 5px !important;
}
body .mine-container .container-right .item-box {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  width: 100%;
  height: 83vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 10px;
  text-align: center;
}
body .mine-container .container-right .item-box .item-card {
  cursor: pointer;
}
body .mine-container .container-right .item-box .item-card .card-title {
  font-family: GangwonEdu_OTFBoldA;
  font-size: 18px;
  margin: 10px 0px 0px 0px;
}
body .mine-container .container-right .item-box .item-card span {
  font-family: GangwonEdu_OTFBoldA;
  font-size: 14px;
  margin: 2px 5px;
}
body .detail-container {
  font-family: "GangwonEdu_OTFBoldA";
  margin: 50px 5px 0 0px;
  overflow: hidden;
}
body .detail-container .detail-hope-tab {
  margin: 15px 10px;
}
body .post-container {
  width: 100%;
  height: 89vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px auto 0 auto;
  background-image: linear-gradient(to right, rgba(50, 50, 50, 0.6), rgba(33, 33, 41, 0.751)), url("../img/x-main/water-main.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body .post-container .posts {
  padding-top: 20px;
  margin: 10px auto;
  border: 1px solid rgb(0, 0, 0);
  height: -moz-max-content;
  height: max-content;
  width: 500px;
  background-color: rgba(206, 217, 223, 0.6784313725);
}
body .post-container .posts .posts-contents {
  margin: 5px auto;
  display: block;
  width: 400px;
}
body .post-container .posts .posts-contents .posts-contents-header {
  border: 1px solid rgb(35, 35, 35);
  height: 30px;
  width: 400px;
  display: inline-block;
  text-align: left;
}
body .post-container .posts .posts-contents .posts-contents-header:first-child {
  font-size: 13px;
  padding: 5px 5px;
}
body .post-container .posts .posts-contents .like-button {
  float: right;
  display: flex;
}
body .post-container .posts .posts-contents .like-button img {
  margin-top: -18px;
  margin-right: 3px;
}
body .post-container .posts .posts-contents .like-button span {
  font-size: 12px;
  margin: -16px 1px auto 0;
}
body .post-container .posts .posts-contents .posts-contents-box {
  border: 1px solid rgb(35, 35, 35);
  margin: 5px auto 20px auto;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-img {
  display: block;
  border: 1px solid rgb(35, 35, 35);
  margin: 20px 4px 5px 4px;
  height: 290px;
  width: 390px;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-img img {
  display: flex;
  margin: 0px auto 0px auto;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-img .no-Image {
  margin-top: 50px !important;
  margin-bottom: 45px !important;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-img button {
  position: relative;
  float: right;
  height: 20px;
  margin-top: -25px;
  margin-right: 5px;
  border: 1px solid rgb(184, 200, 213);
  border-radius: 10px;
  background-color: aliceblue;
  font-size: 11px;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-context {
  font-family: "GangwonEdu_OTFBoldA";
  border: 1px solid rgba(56, 65, 70, 0.8156862745);
  margin: 4px 4px;
  padding: 10px 10px;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-context textarea {
  border: none;
  width: 370px;
  height: 120px;
  font-size: 14px;
  resize: none;
  background-color: rgba(156, 170, 177, 0.368627451);
}
body .post-container .posts .posts-contents .posts-contents-box .posts-context textarea:focus {
  outline: 0;
}
body .about-container {
  display: inline-flex;
  width: 100%;
}
body .about-container img {
  height: 90vh;
  width: 50%;
}
body .about-container .context {
  margin-left: 80px;
  padding-top: 7vh;
}
body .about-container .context .main {
  display: block;
  margin-bottom: 30px;
}
body .about-container .context .main span {
  display: flex;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 18px;
}
body .about-container .context .main span p {
  color: #327ba9;
  margin-bottom: 0px;
  font-weight: bolder;
  text-shadow: -1px 1px 2px rgba(150, 173, 186, 0.7333333333);
}
body .about-container .context .main .title {
  font-family: "Hahmlet-Regular";
  font-size: 30px;
  margin-bottom: 20px;
  text-shadow: -3px 5px 10px #577181;
}
body .about-container .context .sub {
  display: block;
}
body .about-container .context .sub span {
  display: flex;
  text-align: center;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 16px;
}
body .about-container .context .sub .title-point {
  margin-top: 10px;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 20px;
  color: #388cc1;
  text-align: left;
  text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.774);
}
body .about-container .context .sub .title-proceed {
  margin-top: 20px;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 20px;
  color: #2c556f;
  text-align: left;
  text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.774);
}
body .navbar-container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  z-index: 999;
  width: 100%;
  top: 0;
  position: sticky;
}
body .navbar-container .nav-logo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  position: fixed;
  left: 0 !important;
  margin-left: 30px;
}
body .navbar-container .nav-menu {
  display: flex;
  margin: 0px 0px 0px auto;
}
body .component-container {
  position: relative;
}
body .App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  body .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=App.css.map */