@font-face {
  font-family: "Hahmlet-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(236, 238, 240);
  overflow: hidden;
}
body .start {
  opacity: 0;
}
body .end {
  opacity: 1;
  transition: opacity 0.5s;
}
body .main-container {
  display: flex;
  background-color: rgb(236, 238, 240);
  width: 100%;
  height: 100vh;
  justify-content: center;
}
body .main-container .context {
  padding-top: 10vh;
}
body .main-container .context .main {
  display: block;
  margin-bottom: 30px;
}
body .main-container .context .main span {
  display: flex;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 18px;
}
body .main-container .context .main span p {
  color: rgb(56, 56, 156);
  margin-bottom: 0px;
  text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.596);
}
body .main-container .context .main .title {
  font-family: "Hahmlet-Regular";
  font-size: 38px;
  margin-bottom: 20px;
  margin-left: -20px;
  text-shadow: -3px 5px 10px gray;
}
body .main-container .context .sub {
  display: block;
}
body .main-container .context .sub span {
  display: flex;
  text-align: center;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 16px;
}
body .main-container .context .sub .title-point {
  margin-top: 10px;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 20px;
  color: rgb(56, 56, 156);
  text-align: left;
  text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.774);
}
body .main-container .context .sub .title-proceed {
  margin-top: 20px;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 20px;
  color: rgba(56, 56, 156, 0.578);
  text-align: left;
  text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.774);
}
body .item-container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
}
body .item-container .filter-box {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgb(242, 238, 238);
  align-items: end;
  padding-bottom: 10px;
}
body .item-container .filter-box span {
  font-size: 15px;
  height: 30px;
  padding: 5px 5px;
  margin-left: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
body .item-container .filter-box input {
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 13px;
  height: 30px;
  margin-left: 5px;
  width: 60%;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(242, 238, 238, 0.676);
  padding: 5px 10px 0px 10px;
}
body .item-container .filter-box .find-icon {
  display: flex;
  margin: 0px 5px 4px 5px !important;
}
body .item-container .filter-box button {
  font-size: 13px;
  background-color: whitesmoke;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
  height: 30px;
  padding: auto 5px;
  margin-right: 10px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
body .item-container .item-list {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  width: 100%;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto !important;
  margin: 0px auto 10px auto;
  padding-left: 10vw;
}
body .item-container .item-list .item-card {
  text-align: left;
  margin-top: 7px;
  cursor: pointer;
}
body .item-container .item-list .item-card .card-title {
  display: block;
  width: 220px !important;
  overflow: hidden;
  margin: 10px 0px 0px 0px;
}
body .item-container .item-list .item-card .card-title span {
  font-family: Hahmlet-Regular;
  font-size: 20px;
}
body .item-container .item-list .item-card .card-row2 {
  display: inline;
  font-family: GangwonEdu_OTFBoldA;
  margin: 5px 0px;
}
body .item-container .item-list .item-card .card-row3 {
  display: flex;
  width: 220px;
  height: 30px;
  margin: 0px 0px 30px 0px;
  overflow: hidden;
}
body .item-container .item-list .item-card .card-row3 span {
  font-family: GangwonEdu_OTFBoldA;
}
body .mine-container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: inline-flex;
  margin: 0px 5px 0 0px;
  width: 100%;
  height: 100vh;
}
body .mine-container .container-left {
  display: flex;
  width: 40%;
  background-color: rgb(236, 238, 240);
}
body .mine-container .container-right {
  width: 60%;
  height: 90vh;
}
body .mine-container .container-right .filter-box {
  display: flex;
  height: 50px;
  background-color: rgb(242, 238, 238);
  align-items: end;
  padding-bottom: 10px;
}
body .mine-container .container-right .filter-box .title {
  min-width: -moz-max-content;
  min-width: max-content;
  width: 180px;
  display: inline-flex;
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px 0 15px;
}
body .mine-container .container-right .filter-box input {
  font-family: "GangwonEdu_OTFBoldA";
  background-color: whitesmoke;
  font-size: 13px;
  height: 30px;
  margin-left: 5px;
  width: 45%;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-top: 8px;
}
body .mine-container .container-right .filter-box button {
  background-color: whitesmoke;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  height: 30px;
  padding: auto 5px;
  margin-left: 10px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
body .mine-container .container-right .filter-box .find-icon {
  display: flex;
  margin: 0px 5px 4px 5px !important;
}
body .mine-container .container-right .item-box {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  width: 100%;
  height: 83vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 10px;
  text-align: center;
}
body .mine-container .container-right .item-box .item-card {
  cursor: pointer;
}
body .mine-container .container-right .item-box .item-card .card-title {
  font-family: GangwonEdu_OTFBoldA;
  font-size: 18px;
  margin: 10px 0px 0px 0px;
}
body .mine-container .container-right .item-box .item-card span {
  font-family: GangwonEdu_OTFBoldA;
  font-size: 14px;
  margin: 2px 5px;
}
body .detail-container {
  font-family: "GangwonEdu_OTFBoldA";
  margin: 50px 5px 0 0px;
  overflow: hidden;
}
body .detail-container .detail-hope-tab {
  margin: 15px 10px;
}
body .post-container {
  width: 100%;
  height: 89vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px auto 0 auto;
}
body .post-container .posts {
  padding-top: 20px;
  margin: 10px auto;
  border: 1px solid rgb(159, 159, 159);
  height: -moz-max-content;
  height: max-content;
  width: 500px;
}
body .post-container .posts .posts-contents {
  margin: 5px auto;
  display: block;
  width: 400px;
}
body .post-container .posts .posts-contents .posts-contents-header {
  border: 1px solid rgb(159, 159, 159);
  height: 30px;
  width: 400px;
  display: inline-block;
  text-align: left;
}
body .post-container .posts .posts-contents .posts-contents-header:first-child {
  font-size: 13px;
  padding: 5px 5px;
}
body .post-container .posts .posts-contents .like-button {
  float: right;
  display: flex;
}
body .post-container .posts .posts-contents .like-button img {
  margin-top: -18px;
  margin-right: 3px;
}
body .post-container .posts .posts-contents .like-button span {
  font-size: 12px;
  margin: -16px 1px auto 0;
}
body .post-container .posts .posts-contents .posts-contents-box {
  border: 1px solid rgb(159, 159, 159);
  margin: 5px auto 20px auto;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-img {
  display: block;
  border: 1px solid rgb(159, 159, 159);
  margin: 20px 4px 5px 4px;
  height: 200px;
  width: 391px;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-img img {
  display: flex;
  margin: 0px auto 0px auto;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-img .no-Image {
  margin-top: 50px !important;
  margin-bottom: 45px !important;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-img button {
  position: relative;
  float: right;
  height: 20px;
  margin-top: -25px;
  margin-right: 5px;
  border: 1px solid rgb(184, 200, 213);
  border-radius: 10px;
  background-color: aliceblue;
  font-size: 11px;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-context {
  font-family: "GangwonEdu_OTFBoldA";
  border: 1px solid rgb(159, 159, 159);
  margin: 3px 3px;
  padding: 10px 10px;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-context textarea {
  border: none;
  width: 370px;
  height: 130px;
  font-size: 13px;
  resize: none;
}
body .post-container .posts .posts-contents .posts-contents-box .posts-context textarea:focus {
  outline: 0;
}
body .about-container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(236, 238, 240);
  padding: 30px 30px;
  text-align: center;
}
body .about-container .introduce-box {
  padding-top: 100px;
  width: 1200px;
  height: 100vh;
  display: inline-flex;
}
body .about-container .introduce-box .left-area {
  width: 45%;
  display: block;
  margin-left: 100px;
}
body .about-container .introduce-box .left-area .title {
  font-family: "Hahmlet-Regular";
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: -15px;
  text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.664);
}
body .about-container .introduce-box .left-area span {
  display: flex;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 18px;
  line-height: 200%;
}
body .about-container .introduce-box .left-area span p {
  width: 100px;
  text-align: left;
  line-height: 150%;
  font-family: "Hahmlet-Regular";
  color: gray;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 0px;
  text-shadow: -1px 1px 0.3px gray;
}
body .about-container .introduce-box .left-area .skill-icons {
  text-align: left !important;
  margin-left: 100px;
}
body .about-container .introduce-box .left-area .skill-icons img {
  margin: 0px 0px 10px 0px;
}
body .about-container .introduce-box .right-area {
  width: 45%;
  display: block;
  margin-top: 10px;
}
body .about-container .introduce-box .right-area .title {
  font-family: "Hahmlet-Regular";
  font-size: 30px;
  margin-bottom: 20px;
  text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.664);
}
body .about-container .introduce-box .right-area .projects {
  width: 500px;
  height: 370px;
  overflow-x: hidden;
  overflow-y: scroll;
}
body .about-container .introduce-box .right-area .projects .project-box {
  width: 480px;
  height: 350px;
  display: block;
}
body .about-container .introduce-box .right-area .projects .project-box textarea {
  font-family: "GangwonEdu_OTFBoldA";
  background-color: rgb(236, 238, 240);
  width: 480px;
  height: 350px;
  margin-bottom: 20px;
  font-size: 17px;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 8px;
  resize: none;
}
body .about-container .introduce-box .right-area .projects .project-box textarea:focus {
  outline: 0;
}
body .about-container .introduce-box .right-area span {
  display: flex;
  font-family: "Hahmlet-Regular";
  font-size: 18px;
}
body .about-container .introduce-box .right-area span p {
  color: rgb(56, 56, 156);
  margin-bottom: 0px;
  text-shadow: -3px 0px 3px rgba(128, 128, 128, 0.596);
}
body .about-container .introduce-box .right-area .title-point {
  font-family: "GangwonEdu_OTFBoldA";
  color: rgba(var(--bs-emphasis-color-rgb), 0.55);
  text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.774);
}
body .about-container .introduce-box button {
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 13px;
  background-color: whitesmoke;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  height: 30px;
  min-width: 100px;
  width: -moz-max-content;
  width: max-content;
  padding: auto 20px auto 20px;
  margin: 30px 40px 0px 0px;
  border-radius: 16px;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
body .about-container .introduce-box button img {
  margin: 0 5px;
}
body .navbar-container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  z-index: 999;
  width: 100%;
  top: 0;
  position: sticky;
}
body .navbar-container .nav-logo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  position: fixed;
  left: 0 !important;
  margin-left: 30px;
}
body .navbar-container .nav-menu {
  display: flex;
  margin: 0px 0px 0px auto;
}
body .component-container {
  position: relative;
}
body .App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  body .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=App.css.map */