@font-face {
  font-family: 'Hahmlet-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$bg-gray: rgb(242, 238, 238);
$bg-black: rgb(236, 238, 240);;


body {
  width: 100%;
  height: 100vh;
  background-color: $bg-black;
  overflow: hidden;

  .start {
    opacity : 0
  }
  .end {
    opacity : 1;
    transition: opacity 0.5s;
  }

  .main-container{
    display: flex;
    background-image: linear-gradient(
      to right,
      rgba(2, 2, 2, 0.696),
      rgba(36, 36, 55, 0.356)
    ), url("../img/x-main/water-main.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // width: 100vw;
    height : 100vh;
  }

  .item-container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;

    .filter-box {
      display: flex;
      width: 100%;
      height: 50px;
      background-color: $bg-gray;
      align-items: end;
      padding-bottom: 10px;
      
      span {
        font-size: 15px;
        height: 30px;
        padding: 5px 5px ;
        margin-left: 10px;
        width: fit-content;
      }

      input{
        font-family: 'GangwonEdu_OTFBoldA';
        font-size: 13px;
        height: 30px;
        margin-left: 5px;
        width: 60%;
        border: none;
        border-radius: 12px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        background-color: rgba(242, 238, 238, 0.676);
        padding: 5px 10px 0px 10px;
      }

      .find-icon{
        display:flex;
        margin:0px 5px 4px 5px !important;
      }
      button{
        font-size: 13px;
        background-color: whitesmoke;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
        height: 30px;
        padding: auto 5px ;
        margin-right: 10px;
        border-radius: 5px;
        width: fit-content;
      }

    }

    .item-list {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      display: flex;
      width: 100%;
      height : 85vh;
      overflow-x: hidden;
      overflow-y: auto !important;
      margin: 0px auto 10px auto;
      padding-left: 50px;

      .item-card{
        text-align: left;
        margin-top: 7px;

        .card-title{
          display: block;
          width: 220px !important;
          overflow : hidden;
          margin: 10px 0px 0px 0px;
          span{
            font-family: Hahmlet-Regular;
            font-size: 20px;
          }
        }
        .card-row2 {
          display: inline;
          font-family: GangwonEdu_OTFBoldA;
          margin: 5px 0px;
        }
        .card-row3{
          display: flex;
          width: 220px;
          height: 30px;
          margin: 0px 0px 30px 0px;
          overflow: hidden;
          span{
            font-family: GangwonEdu_OTFBoldA;
          }
        }
        cursor: pointer;
      }
    }
  }

  .mine-container{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      display: inline-flex;
      margin: 0px 5px 0 0px;
      width: 100%;
      height: 100vh;

      .container-left {
        display: flex;
        width: 40%;
        background-image: linear-gradient(
          to right,
          rgba(2, 2, 2, 0.696),
          rgba(36, 36, 55, 0.356)
        ), url("../img/x-main/water-half.jpg");
        background-repeat: no-repeat;
        background-size: 100% 95%;
      }
      
      .container-right{
        width: 60%;
        height : 90vh;

        .filter-box {
          display: flex;
          height: 50px;
          background-color: $bg-gray;
          align-items: end;
          padding-bottom: 10px;
          
          .title{
            min-width: max-content;
            width: 180px;
            display: inline-flex;
            font-size: 20px;
            font-weight: 600;
            margin: 0 10px 0 15px;
          }

          input{
            font-family: 'GangwonEdu_OTFBoldA';
            background-color: whitesmoke;
            font-size: 13px;
            height: 30px;
            margin-left: 5px;
            width: 45%;
            border: none;
            border-radius: 12px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            padding-left: 10px;
            padding-top: 8px;
          }
          button{
            background-color: whitesmoke;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            font-size: 13px;
            height: 30px;
            padding: auto 5px ;
            margin-left: 10px;
            border-radius: 5px;
            width: fit-content;
          }
          .find-icon{
            display:flex;
            margin:0px 5px 4px 5px !important;
          }
        }  
        .item-box {
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          display: flex;
          width: 100%;
          height : 83vh;
          overflow-x: hidden;
          overflow-y: auto;
          padding: 10px 10px;
          text-align: center;
          
          
          .item-card{
            .card-title{
              font-family: GangwonEdu_OTFBoldA;
              font-size: 18px;
              margin: 10px 0px 0px 0px;
            }
            span{
              font-family: GangwonEdu_OTFBoldA;
              font-size: 14px;
              margin: 2px 5px;
            }
            cursor: pointer;
          }
        }
      }
  }

  .detail-container {
    font-family: 'GangwonEdu_OTFBoldA';
    margin: 50px 5px 0 0px;
    overflow: hidden;

    .detail-hope-tab{
      margin: 15px 10px;
    }
  }

  .post-container {
    width: 100%;
    height : 89vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px auto 0 auto;

    background-image: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.721),
      rgba(25, 25, 38, 0.532)
    ), url("../img/x-main/water-main.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    .posts{
      padding-top: 20px;
      margin: 10px auto;
      border: 1px solid  rgb(0, 0, 0);
      height: max-content;
      width: 500px;
      background-color:#ced9dfad;

      .posts-contents{
        margin: 5px auto;
        display: block;
        width: 400px;

        .posts-contents-header{
          border: 1px solid  rgb(35, 35, 35);
          height: 30px;
          width: 400px;
          display: inline-block;
          text-align: left;
        }
        .posts-contents-header:first-child{
          font-size: 13px;
          padding: 5px 5px;
        }
        .like-button{
          float:right;
          display: flex;
          img{
            margin-top: -18px;
            margin-right: 3px;
          }
          span{
            font-size: 12px;
            margin: -16px 1px auto 0;
          }
        }

        .posts-contents-box{
            border: 1px solid  rgb(35, 35, 35);
            margin: 5px auto 20px auto;
            width: 400px;
            height: fit-content;
          
            .posts-img{
              display: block;
              border: 1px solid rgb(35, 35, 35);
              margin: 20px 4px 5px 4px;
              height: 290px;
              width: 390px;
              
              img{
                display: flex;
                margin : 0px auto 0px auto;
              }
              .no-Image{
                margin-top: 50px !important;
                margin-bottom: 45px !important;
              }
              
              button{
                position: relative;
                float: right;
                height: 20px;
                margin-top: -25px;
                margin-right: 5px;
                // align-items: center;
                border: 1px solid rgb(184, 200, 213);
                border-radius: 10px;
                background-color: aliceblue;
                font-size: 11px;
              }
            }

            .posts-context{
              font-family: 'GangwonEdu_OTFBoldA';
              border: 1px solid  rgb(159, 159, 159);
              margin: 3px 3px;
              padding: 10px 10px;
              
              textarea{
                border: none;
                width: 370px;
                height: 120px;
                font-size: 13px;
                resize: none;
                background-color:#ced9dfb1;
              }
              textarea:focus {
                outline: 0;
              }
            }
          
        }

      }

    }
  }


  .about-container {
    display: inline-flex;
    width: 100%;
    img{
      height : 90vh;
      width: 50%;
    }
          
    .context{
      margin-left: 80px;
      padding-top: 7vh;
        .main{
            display: block;
            margin-bottom: 30px;
            span {
              display: flex;
              font-family: 'GangwonEdu_OTFBoldA';
              font-size: 18px;
              p{
                color: rgb(56, 56, 156);
                margin-bottom: 0px;
                text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.596);
              }
            }
            .title{
              font-family: 'Hahmlet-Regular';
              font-size: 30px;
              margin-bottom: 20px;
              text-shadow: -3px 5px 10px gray;
            }
          }
          
          .sub {
            display: block;
            span{
              display: flex;
              text-align: center;
              font-family:  'GangwonEdu_OTFBoldA';
              font-size: 16px;
            }
            .title-point{
              margin-top: 10px;
              font-family: 'GangwonEdu_OTFBoldA';
              font-size: 20px;
              color:rgb(56, 56, 156);
              text-align: left;
              text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.774);
            }
            .title-proceed{
              margin-top: 20px;
              font-family: 'GangwonEdu_OTFBoldA';
              font-size: 20px;
              color: rgba(56, 56, 156, 0.578);
              text-align: left;
              text-shadow: -3px 3px 3px rgba(128, 128, 128, 0.774);
            }
        }
    }

  }



  .navbar-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    z-index: 999;
    width: 100%;
    top: 0;
    position: sticky;
    
    .nav-logo{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 30px;
      position: fixed;
      left: 0 !important;
      margin-left: 30px;
    }
    .nav-menu{
      display: flex;
      margin: 0px 0px 0px auto;
    }
  }
  .component-container{
    position: relative;
  }


  .App-logo {
    height: 40vmin;
    pointer-events: none;
    
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }


  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

}