.start {
  opacity : 0
}
.end {
  opacity : 1;
  transition: opacity 0.5s;
}

.main-container{
  .main-bg {
    display: flex;
    width: 100%;
    height : 100vh;
    background-image : url('./main_half.png');
  }
}

.item-container{
  display: inline-flex;
  width: 100%;
  .main-bg {
    display: flex;
    width: 45%;
    height : 100vh;
    background-image : url('./main_half.png');
    background-size : cover;
    margin: 50px auto 0 auto;
  }
  .item-list {
    display: flex;
    width: 55%;
    height : 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 50px auto 0 auto;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
  }
}

.detail-container {
  margin: 50px 5px 0 10px;
}

.post-container {
  width: 50%;
  height: 100%;
  text-align: center;
  border: 2px solid blueviolet;
  margin: 50px auto;
  display: block;
  
  .posts{
    margin: 10px auto;
    border: 1px solid black;
    height: 380px;
    width: 500px;

    .posts-img{
      margin: 5px auto;
      border: 1px solid red;
      height: 200px;
      width: 400px;
    }
    .posts-contents{
      margin: 5px auto;
      display: block;
      width: 400px;
      
      .posts-contents-header{
        border: 1px solid orange;
        height: 30px;
        width: 400px;
      }
      .posts-contents-box{
        border: 1px solid blue;
        margin: 5px auto;
        width: 400px;
        height: fit-content;
        
        div{
          border: 1px solid green;
          margin: 3px 3px;
          min-height: 80px;
        }
        
        button{
          border: 1px solid green;
          background-color: aliceblue;
        }
        
      }
    }

  }
}

.mine-container {
  margin: 50px 5px 0 10px;
}

.about-container {
  margin: 50px 5px 0 10px;
}


.App {
  text-align: center;
}

.navbar-container {
  position: fixed !important;
  width: 100%;
  top: 0;
  right:0;

  .nav-logo{
    margin-left: -80px !important;
  }
}
.component-container{
  position: relative;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
